In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('hacks.csv')

In [3]:
data.shape

(20100, 7)

In [4]:
data.columns

Index(['id', 'title', 'url', 'num_points', 'num_comments', 'author',
       'created_at'],
      dtype='object')

In [5]:
data.describe()

                 id    num_points  num_comments
count  2.010000e+04  20100.000000  20100.000000
mean   1.131753e+07     50.296070     24.802289
std    6.964399e+05    107.107687     56.107340
min    1.017691e+07      1.000000      1.000000
25%    1.070176e+07      3.000000      1.000000
50%    1.128445e+07      9.000000      3.000000
75%    1.192607e+07     54.000000     21.000000
max    1.257898e+07   2553.000000   1733.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20100 entries, 0 to 20099
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20100 non-null  int64
 1   title         20100 non-null  object
 2   url           17660 non-null  object
 3   num_points    20100 non-null  int64
 4   num_comments  20100 non-null  int64
 5   author        20100 non-null  object
 6   created_at    20100 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB

In [8]:
data.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [10]:
data['created_at']=pd.to_datetime(data['created_at'])

In [11]:
data['hour'] = data['created_at'].dt.hour

In [12]:
data.head()

,id,title,url,num_points,num_comments,author,created_at,hour
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,2016-08-04 11:52:00,11
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00,19
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,2016-06-23 22:20:00,22
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,2016-06-17 00:01:00,0
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,2015-09-30 04:12:00,4

In [21]:
data['title']=data['title'].str.lower()

In [25]:
bol_data=data.title.str.startswith('ask hn')

In [27]:
ask_data=data[bol_data].copy()

In [28]:
bool_data=data.title.str.startswith('show hn')

In [29]:
show_data=data[bool_data].copy()

In [33]:
ask_data['num_comments'].mean()

14.038417431192661

In [38]:
ask_data.groupby('hour')['num_comments'].mean()

hour
0      8.127273
1     11.383333
2     23.810345
3      7.796296
4      7.170213
5     10.086957
6      9.022727
7      7.852941
8     10.250000
9      5.577778
10    13.440678
11    11.051724
12     9.410959
13    14.741176
14    13.233645
15    38.594828
16    16.796296
17    11.460000
18    13.201835
19    10.800000
20    21.525000
21    16.009174
22     6.746479
23     7.985294
Name: num_comments, dtype: float64

In [40]:
ask_table=ask_data.pivot_table(index='hour' , values = 'num_comments' , aggfunc = 'mean')

In [43]:
ask_table.sort_values(by='num_comments' , ascending=False).head(6)

      num_comments
hour
15       38.594828
2        23.810345
20       21.525000
16       16.796296
21       16.009174
13       14.741176

In [46]:
show_table=show_data.pivot_table(index='hour' , values = 'num_comments' , aggfunc = 'mean')

In [48]:
show_table.sort_values(by='num_comments' , ascending=False).head(6)

      num_comments
hour
18       15.770492
0        15.709677
14       13.441860
23       12.416667
22       12.391304
12       11.803279

In [53]:
apply_hn=data.title.str.startswith('apply hn')

In [56]:
apply_hn_df=data[apply_hn].copy()

In [57]:
apply_hn_df['num_comments'].mean()

9.31081081081081

In [58]:
apply_hn_df.groupby('hour')['num_comments'].mean()

hour
0      7.800000
1      6.750000
2      4.250000
3      5.333333
4     12.000000
5      3.000000
6      8.000000
7     16.000000
8     26.000000
9      4.000000
10     6.500000
12     6.666667
13     5.500000
14     6.000000
15    15.333333
16    11.000000
17    11.000000
18     9.250000
19     5.000000
20    10.571429
22    13.000000
23    21.500000
Name: num_comments, dtype: float64

In [60]:
hourly_comment_applyhn=apply_hn_df.pivot_table(index='hour' , values='num_comments' , aggfunc='mean')

In [62]:
hourly_comment_applyhn.sort_values('num_comments' , ascending=False).head(6)

      num_comments
hour
8        26.000000
23       21.500000
7        16.000000
15       15.333333
22       13.000000
4        12.000000